version: '3.5'
services:
  php80-symfony5:
    container_name: php80-symfony5
    build:
      context: ./php80
      dockerfile: Dockerfile      
    restart: always
    volumes:
      - "./app:/var/www/app"
      - "./data:/var/www/data"
      - "spool:/var/www/app/spool/"
    env_file:
      - .env

  nginx-webserver:
    container_name: nginx-webserver
    build:
      context: ./nginx
      dockerfile: Dockerfile   
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx-webserver.entrypoints=http"            
      - "traefik.http.routers.nginx-webserver.rule=Host(`${TRAEFIK_HOST_API_01}`)"
    # ports:
    #   - "8080:80"
    env_file:
      - .env
    environment:
      - PHP_UPSTREAM_CONTAINER=php80-symfony5
    volumes:
      - "./app:/var/www/app"
    depends_on:
      - php80-symfony5

volumes:
  spool: ~

networks:
  default:
    external:
      name: ${DOCKER_NETWORK}
